* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #687389
}

body {
    background-color: #dadce9;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .5);
}

.overlay.overlay_active {
    opacity: 1;
    pointer-events: all;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    max-width: 1000px;
    margin: 75px auto;
}

.app {
    background-color: #FFFFFF;
    width: 100%;
    padding: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.app .app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.app__header .app__header-title {
    font-weight: 400;
}

.app .app__header-button {
    background-color: #b9c4e2;
    border: 1px solid #b9c4e2;
    color: #FFFFFF;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s;
}

.app .app__header-button:hover {
    background-color: #FFFFFF;
    color: #b9c4e2;
}

.app .app__body {
    display: flex;
}

.app .app__times {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.times .times__item {
    padding: 15px;
}

.app .app__content {
    width: 100%;
}

.app .days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.days .days__item {
    color: #c3cde7;
    text-align: center;
    padding: 15px;
}

.app .calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    border-radius: 10px;
    border: 2px solid #eef1f9;
}

.calendar .calendar__item {
    padding: 15px;
    text-align: center;
    border: 1px solid #333333;
    margin: 5px;
}

.calendar .calendar__item:first-child {
    border-radius: 5px 0 0 0;
}

.calendar .calendar__item:nth-child(5) {
    border-radius: 0 5px 0 0;
}

.calendar .calendar__item:nth-child(41) {
    border-radius: 0 0 0 5px;
}

.calendar .calendar__item:last-child {
    border-radius: 0 0 5px 0;
}
